Django==5.0.2
django-crispy-forms==2.1
crispy-tailwind==0.5.0
python-dotenv==1.0.1
Pillow==10.2.0
django-filter==23.5
django-widget-tweaks==1.5.0
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
xlsxwriter==3.1.9
xhtml2pdf==0.2.13
reportlab==4.0.9
PyPDF2==3.0.1 
    